* {
  margin: 0px;
  padding: 0px;
}

body {
  /* Modal Content/Box */
}

body nav {
  width: 10%;
  padding: 15px;
  height: 100%;
  position: fixed;
  background-color: #607d8b63;
}

body nav li {
  padding: 29px;
  list-style: none;
  font-weight: bolder;
  font-size: medium;
}

body nav li a {
  margin-left: -10px;
}

body nav li a i {
  width: 58%;
  color: #090d0e;
  padding: 20px;
  font-size: -webkit-xxx-large;
  margin: -10px;
}

@media screen and (max-width: 900px) {
  body nav li {
    padding: 15px;
    font-size: small;
  }
  body nav a i {
    width: 40%;
    padding: 15px;
    font-size: medium;
    margin: -5px;
    color: #090d0e;
  }
}

body .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  padding-top: 50px;
}

body .modal-content {
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
}

body .container {
  background-color: #8e6ad0;
  padding: 24%;
  margin: 5px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  body .modal-content {
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 600px;
  }
  body .container {
    background-color: #8e6ad0;
    padding: 30%;
    margin: 5px;
    position: relative;
  }
}

body .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: red;
}

body .close:hover,
body .close:focus {
  color: #f44336;
  cursor: pointer;
}

body div#btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  background-color: #CDDC39;
}

body div#btn .smallbutton {
  background-color: #e86636;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
}

body div #imgbox {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 11px;
}

body div #imgbox img {
  width: 241px;
  margin-left: 11px;
  border-radius: 15px;
}

body #linkdiv {
  background-color: #CDDC39;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 13px;
}

body #linkdiv .link {
  background-color: #e86636;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
}

body .form-style-8 {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

body .form-style-8 h2 {
  background: #2196F3;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #1b1717;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

body .form-style-8 input[type="text"],
body .form-style-8 input[type="date"],
body .form-style-8 input[type="datetime"],
body .form-style-8 input[type="email"],
body .form-style-8 input[type="number"],
body .form-style-8 input[type="search"],
body .form-style-8 input[type="time"],
body .form-style-8 input[type="url"],
body .form-style-8 input[type="password"],
body .form-style-8 textarea,
body .form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

body .form-style-8 textarea {
  resize: none;
  overflow: hidden;
}

body .form-style-8 input[type="button"],
body .form-style-8 input[type="submit"] {
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2c6abb;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

body .form-style-8 input[type="button"]:hover,
body .form-style-8 input[type="submit"]:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #34CACA), to(#30C9C9));
  background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color: #34CACA;
}
/*# sourceMappingURL=style.css.map */